---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{%- include head.liquid -%}

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars"  data-set-preferred-mode-onload="true" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">
    {% if page.title == 'About' %}
    {% include popup-friend.liquid %}
    {% endif %}
    <div id="page-wrapper" class="page-wrapper with-navbar">
        {% include navbar.liquid %}
        <div class="content-wrapper wallsvg">
            {% if page.layout == 'home' %}
            {% include navbar-bottom.liquid %}
                {%- else -%}
            <div class="container-fluid container-lg h-full bg-dark-dm bg-white-lm shadow-lg">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="p-0 m-0 border-0 ">
                            {%- if page.title == 'About' -%}
                            <div class="row">
                                <div class="col-lg-8 order-2">
                                    {{ content }}
                                </div>
                                {%- assign me = site.data.profile.my -%}
                                {%- if me -%}
                                <div class="col-lg-4 order-1">
                                    {%- include profil.liquid -%}
                                </div>
                                {%- endif -%}
                            </div>
                            {% elsif page.layout == 'post' or page.layout == 'page' %}
                            {{ content }}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
            {% include navbar-bottom.liquid %}

            {% endif %}
            </div>
            </div>
            {% include js-script.liquid %}
</body>
</html>